{% extends 'base.html' %}
{% block title %} Shopping cart {% endblock %}

{% block content %}

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header" style="color: coral">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart_items %}
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                          {% if item.clothes_id_id %}
                        <img src="{{ item.clothes_id.image.url }}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="#" class="d-block text-dark">{{ item }}</a>
                          <small>
                            <span class="text-muted">Color:</span>
                            <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:{{ item.clothes_id.color }};"></span> &nbsp;
                            <span class="text-muted">Size: </span> {{ item.clothes_size }}
{#                            <span class="text_muted"></span>{{ item.availability }}#}
                          </small>
                            {% else %}
                            <img src="{{ item.accessories_id.image.url }}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="#" class="d-block text-dark">{{ item }}</a>
                          <small>
                            <span class="text-muted">Color:</span>
                            <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:{{ item.accessories_id.color }};"></span>
                          </small>
                            {% endif %}
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{ item.price }} RON</td>
                    <td class="align-middle p-4"><input type="text" class="form-control text-center" value="{{ item.number_of_products_added }}"></td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{item.calculate_price}}</td>
                      {% if item.clothes_id_id %}
                    <td class="text-center align-middle px-0"><a href="{% url 'delete_cart_clothes' item.clothes_id_id %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                    {% else %}
                    <td class="text-center align-middle px-0"><a href="{% url 'delete_cart_accesories' item.accessories_id_id %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                    {% endif %}
                  </tr>
                  {%  endfor %}
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
                <label class="text-muted font-weight-normal">Promocode</label>
                  <input type="text" placeholder="ABC" class="form-control">
              </div>
              <div class="d-flex">
                <div class="text-right mt-4 mr-5">
                  <label class="text-muted font-weight-normal m-0">Discount</label>
                  <div class="text-large"><strong>$0</strong></div>
                </div>
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Total price</label>
                  <div class="text-large"><strong>{{ total }}</strong></div>
                </div>
              </div>
            </div>

            <div class="float-right">
              <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
              <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
            </div>
          </div>
      </div>
  </div>

{% endblock %}