body, html {
    height: 100%;
}

.bg-img-homepage {
    background: url("/static/images/tennis_img.jpg") no-repeat center center fixed;
    background-size: cover;
    /*Toate cover-urile de mai jos sunt pentru browsere speciale (IE / Mozilla) unde background image-u'
    nu e procesat in tocmai la fel mereu fara webkit*/
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}


body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
