body, html {
    height: 100%;
}

.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    }

.bg-img-homepage {
    background: url("/static/images/tennis_img.jpg") no-repeat center center fixed;
    background-size: cover;
    /*Toate cover-urile de mai jos sunt pentru browsere speciale (IE / Mozilla) unde background image-u'
    nu e procesat in tocmai la fel mereu fara webkit*/
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}


body{
    background-color:#ffefeb;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

/*FOOTER*/


 .footer {
     position: absolute;
     color: black!important;
     /*bottom: 0;*/
     /*left: 0;*/
     opacity: 0.7;
     /*right: 0;*/
     background-image: url("/static/images/tennis_img.jpg");
     height: auto;
     width: 100%;
     font-family: "Open Sans", ui-sans-serif;
     padding-top: 20px;
     padding-left: 60px;
     /*background-color: grey!important;*/
 }

 .footer-col {
     width: 25%;
     padding: 0 15px;
 }

 .footer-col h4 {
     font-size: 18px;
     color: black;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }

 .footer-col h4::before {
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #cccc00;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }

 .footer-col ul li:not(:last-child) {
     margin-bottom: 10px;
 }

 .footer-col ul li a {
     font-size: 16px;
     text-transform: capitalize;
     color: black;
     text-decoration: none;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;
 }

 .footer-col ul li a:hover {
     color: black;
     padding-left: 8px;
 }

 .footer-col .social-links a {
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255, 255, 255, 0.2);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: black;
     transition: all 0.5s ease;
 }