<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ITW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Players
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'all_players' %}">Players</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Store
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Clothes</a>
                            <ul class="dropdown-submenu">
                                <li><a class="dropdown-item" href="{% url 'all_products' gender='F'%}">Women</a>
                                    <ul class="dropdown-submenu">
                                        <li><a class="dropdown-item" href="{% url 'filtered_products' gender='F' prod_type='T-Shirt' %}">T-Shirts</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'filtered_products' gender='F' prod_type='Shorts' %}">Shorts</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'filtered_products' gender='F' prod_type='Skirts' %}">Skirts</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'all_products' gender='M'%}">Men</a>
                                </li>
                                <ul class="dropdown-submenu">
                                    <li><a class="dropdown-item"
                                           href="{% url 'filtered_products' gender='M' prod_type='T-Shirt' %}">T-Shirts</a></li>
                                    <li><a class="dropdown-item" href="{% url 'filtered_products' gender='M' prod_type='Shorts' %}">Shorts</a>
                                    </li>
                                </ul>
                                <li><a class="dropdown-item" href="{% url 'accessories_by_name' acc_name='all' %}">Accessories</a>
                            <ul class="dropdown-submenu">
                               <li><a class="dropdown-item" href="{% url 'accessories_by_name' acc_name='Rackets' %}">Rackets</a></li>
                                <li><a class="dropdown-item" href="{% url 'accessories_by_name' acc_name='Headbands' %}">Headbands</a></li>
                            </ul>
                                </li>
                    </ul>
                </li>
                    </ul>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>