{% extends 'base.html' %}
{% block title %} Accessories {% endblock %}
{% block content %}
    <div class="card-group">
        {% for accessory in all_accessories %}
            <div class="card" style="max-width: 18rem;">
                <img src="{{ accessory.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ accessory.name_of_product }}</h5>
                    <p class="card-text">Price: {{ accessory.price }}</p>
                    <p class="card-text">Type: {{ accessory.prod_type }}</p>
                    <p class="card-text">Availability: {{ accessory.availability_status }}</p>
                    <p class="card-text">Description: {{ accessory.description_of_product }}</p>
                    <form method="post" action="{% url 'cart_add_accesories' accessory.id %}">
                            {% csrf_token %}
                            <input type="text" name="clothes_id" value={{ accessory }} hidden>
                            <button type="submit" class="btn btn-warning">
                            <i class="fa-solid fa-cart-shopping" style="font-size: 2rem"></i>
                            </button>
                        </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{#name_of_product = models.CharField(max_length=30)#}
{#    price = models.IntegerField()#}
{#    description_of_product = models.CharField(max_length=100)#}
{#    number_of_products = models.IntegerField()#}
{#    prod_type = models.CharField(max_length=30, default='Rackets')#}
