{% extends 'base.html' %}
{% block title %} Clothes {% endblock %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in clothes %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product name: {{ product.name_of_product }}</h5>
                        <p class="card-text">Size: {{ product.size }}</p>
                        <p class="card-text">Type: {{ product.prod_type }}</p>
                        <p class="card-text">Availability: {{ product.availability_status }}</p>
                        <p class="card-text">Description {{ product.description_of_product }}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for accessory in accessories %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ accessory.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Product name: {{ accessory.name_of_product }}</h5>
                        <p class="card-text">Price: {{ accessory.price }}</p>
                        <p class="card-text">Type: {{ accessory.prod_type }}</p>
                        <p class="card-text">Description: {{ accessory.description }}</p>
                        <a href="#" class="btn btn-primary">Add to card</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
