{% extends 'base.html' %}
{% block title %} Clothes {% endblock %}
{% block content %}
    {% for product in all_products %}
         <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Product name: {{ product.name_of_product }}</h5>
            <p class="card-text">Product size: {{ product.size}}</p>
            <p class="card-text">Product Type: {{ product.prod_type }}</p>
            <p class="card-text">Availability: {{ product.availability_status }}</p>
            <p class="card-text">Product size: {{ access.description_of_product}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <tr>
    <th scope="row">1</th>
    <td>{{ product.name_of_product }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.size }}</td>
    <td>{{ product.availability_status }}</td>
    <td>{{ product.prod_type }}</td>
    <td>{{ product.description_of_product }}</td>
    {% endfor %}
    {% for access in all_accessories %}
         <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Product name: {{ access.name_of_product }}</h5>
            <p class="card-text">Product size: {{ access.price}}</p>
            <p class="card-text">Product Type: {{ access.prod_type }}</p>
            <a href="#" class="btn btn-primary">ADD</a>
        </div>
    </div>
    <tr>
    <th scope="row">1</th>
    <td>{{ access.name_of_product }}</td>
    <td>{{ access.price }}</td>
    <td>{{ access.description_of_product }}</td>
    <td>{{ access.number_of_products }}</td>
    <td>{{ access.prod_type }}</td>
    {% endfor %}
{% endblock %}
